#root {
  width: 100vw;
  height: 100vh;
}

.App{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.centerContainer{
  width: 50vw;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.banner{
  margin: 20vh 7vw 0 7vw;
  /* min-height: 15vh; */
  padding: .5rem;
  background: #3e3e3e1f;
  transition: .5s;
}

.banner:hover{
  box-shadow: 0rem 0rem .5rem 1rem#646cff23;
  background: #646cff23;
  transition: .5s;
}

.banner:hover h1{
  transition: .5s;
  font-size: 2.2rem;
}

.banner:hover~ .socials .logo{
  transform: scale(.7);
  transition: .5s;
}

.banner h1 {
  transition: .5s;
}

.banner p {
  font-size: 1rem;
}

.socials{
  margin-top: 53vh;
  padding-bottom: 0;
  animation: scroll-in 3s;
}

.logo {
  height: 2rem;
  padding: 1.7rem;
  transition: filter 300ms;
  transition: .5s;
}

.linkedin:hover {
  filter: drop-shadow(0 0 .5em #0a66c2);
}

.github:hover{
  filter: drop-shadow(0 0 .5em #f0f6fc);
}

.stackoverflow:hover{
  filter: drop-shadow(0 0 .5em #f48224);
}

@keyframes scroll-in{
  0%{
    transform: translateY(10vh) scale(.5);
  }
  100%{
    transform: translateY(0) scale(1);
  }
}

