#root {
  width: 100vw;
  height: 100vh;
}

.App{
  width: 50vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}

.banner{
  margin-top: 20vh;
  padding: 1rem;
  box-shadow: 0rem 0rem 15px 30px #3e3e3e1f;
  background: #3e3e3e1f;
}

.banner h1 {
  font-size: 2.7em;
}

.banner p {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.socials{
  margin-top: 48vh;
  animation: scroll-in 3s;
}

.logo {
  height: 2.5em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 .5em #646cffaa);
}

@keyframes scroll-in{
  0%{
    transform: translateY(10vh) scale(.5);
  }
  100%{
    transform: translateY(0) scale(1);
  }
}

